@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Avenir-Book-01;
}

/* colors */
:root {
  --dark: #121212;
  --light: #ffffff;
  --gray: #3a3b3c;
}

/* glitch */
.p {
  margin: 0;
  line-height: 0;
  animation: glitch1 2.5s infinite;
}
.p__second {
  color: #67f3da;
  animation: glitch2 2.5s infinite;
}
.p__third {
  color: #f16f6f;
  animation: glitch3 2.5s infinite;
}

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

/* fonts */
@font-face {
  font-family: 'Valencia';
  src: url('../assets/fonts/Valencia.ttf');
}
@font-face {
  font-family: 'Avenir-Book-01';
  src: url('../assets/fonts/Avenir-Book-01.ttf');
}

/* toggler */
.toggleDarkBtn {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
}
.toggleDarkBtn input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slideBtnTg {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slideBtnTg:before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  left: 5px;
  bottom: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: var(--dark);
  border: 1px solid var(--light);
}
input:checked + .slideBtnTg {
  background-color: #121212;
}
input:checked + .slideBtnTg:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
  background-color: var(--light);
}
.slideBtnTg.round {
  border-radius: 35px;
  border: 1px solid var(--gray);
}
.slideBtnTg.round:before {
  border-radius: 50%;
}

/* button hover */
.button__hover__light {
  box-shadow: inset 0 0 0 0 #121212;
  transition: all 0.5s ease-in-out;
}
.button__hover__light:hover {
  color: #ffffff;
  box-shadow: inset 300px 0 0 0 #121212;
}
.button__hover__dark {
  box-shadow: inset 0 0 0 0 #ffffff;
  transition: all 0.5s ease-in-out;
}
.button__hover__dark:hover {
  color: #121212;
  box-shadow: inset 300px 0 0 0 #ffffff;
}
